{% extends "base.html" %}

{% block title %}Change Password{% endblock %}
{% block heading %}Change Password{% endblock %}
{% block subheading %}Change Your Password{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('core.home') }}">
            <i class="fa fa-key"></i>
            Ignition
        </a>
    </li>
    <li><a href="{{ url_for('core.profile') }}">Profile</a></li>
    <li class="active">Change Password</li>
{% endblock %}

{% block main %}
    <div class="box box-primary">
        <form method="POST">
            <div class="box-body">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.confirm.label }}
                    {{ form.confirm(class="form-control") }}
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" value="Change Password" class="btn btn-block btn-primary" />
            </div>
        </form>
    </div>
{% endblock %}
